<form class="search-form" (ngSubmit)="submit()">
  <md-form-field>
    <input mdInput
           class="cap-upper input"
           placeholder="Select an origin"
           [mdAutocomplete]="autoOrigin"
           [formControl]="airportOriginCtrl">
    <md-autocomplete #autoOrigin="mdAutocomplete">
      <md-option *ngFor="let airport of filteredOriginAirports | async"
                 class="cap-upper"
                 (onSelectionChange)="originWasChanged(airport)"
                 [value]="airport.code">
        <span>{{airport.name}}</span>
        <span>{{airport.code}}</span>
      </md-option>
    </md-autocomplete>
  </md-form-field>

  <md-form-field>
    <input mdInput
           class="cap-upper input"
           placeholder="Select a destination"
           [mdAutocomplete]="autoDestination"
           [formControl]="airportDestinationCtrl">
    <md-autocomplete #autoDestination="mdAutocomplete">
      <md-option *ngFor="let airport of filteredDestinationAirports | async"
                 class="cap-upper"
                 (onSelectionChange)="destinationWasChanged(airport)"
                 [value]="airport.code">
        <span>{{airport.name}}</span>
        <span>{{airport.code}}</span>
        <small>{{airport.city}}</small>
      </md-option>
    </md-autocomplete>
  </md-form-field>

  <button type="submit"
          class="input"
          [disabled]="airportOriginCtrl.invalid || airportDestinationCtrl.invalid" md-fab>
    <md-icon class="md-24" aria-label="search flights">flight</md-icon>
  </button>
</form>