.input {
    display: inline-block;
}

.cap-upper {
    text-transform: uppercase;
}

.search-form {
    text-align: center;
    padding: 40px;
}

@media (max-width: 600px) {
    .input {
        display: block;
        margin: 0 auto;
    }
}